.hospion-header {
  height: 100%;
  padding: 0.6rem;
}

img.hospion-header {
  height: 100%;
}

nav.hospion-header-background div ul li  a {
  color: #006633;
}

nav.hospion-header-background div a {
  color: #006633;
}