.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-avatar {
  margin-top: 7vh;
}

.profile-infos {
  margin-top: 7vh;
}

.profile-logout {
  margin: 7vh 0;
}