.hospital-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.hospital-title-container > i {
  margin-right: 4rem;
}

.hospital-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > div > div > div.hospital-header > div.row > div {
  width: auto;
  margin: 0 auto;
}

div.hospion-home-slogan {
  display: flex;
}

div.hospion-home-slogan > h1 {
  font-size: 4vw;
}

div.hospion-home-slogan > i {
  display: flex;
  font-size: 4vw;
  align-items: center;
  justify-content: center;
  margin-right: 8vw;
}


.actual-order {
  color: #006633;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

.actual-order > h3 {
  font-size: 4vw;
  margin-bottom: 3vw;
}

.actual-order .card {
  color: #006633;
}

.actual-order .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actual-order .card .card-content > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.actual-order button {
  margin-top: 6vw;
  max-width: 200px;
}

    
.adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adress h2 {
  color: white;
}

.adress-background {
  padding: 10vw 13vw;
  background: #006633;
}

.adress-title {
  display: flex;
}

.adress-title h2 {
  font-size: 6vw;
}

.adress-title i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 4vw;
  font-size: 9vw;
}

.others-background {
  padding: 8vw;
  margin: 0;
  background-color: rgb(220, 255, 220);
}

.others-background .actual-order {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  div.actual-order button {
    float: none;
  }
  
  #root > div > div > div.actual-order > div > div.card-content > div {
    display: flex;
    flex-direction: column;
  }
  
  div.actual-order button {
    margin-top: 10vw;
  }

  div.actual-order > h3 {
    font-size: 6vw;
  }

  div.hospion-home-slogan > p {
    font-size: 8vw;
    font-weight: bolder !important;
  }
  
  div.hospion-home-slogan > i {
    display: flex;
    font-size: 8vw;
    align-items: center;
    justify-content: center;
    margin-right: 8vw;
  }
}
